# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
!.env.example

# Java / Backend / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE / General
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
